<%- include("partials/header"); -%>

<h2 class="success">You are succesfully registered with us!!</h2>
<h4 class="review">Your Entered Details are given below.</h4>
<h6 class="detail"><%= fullName %></h6>
<h6 class="detail"><%= emailAdd %></h6>
<h6 class="detail"><%= mobile %></h6>
<h6 class="detail"><%= address %></h6>
<h6 class="detail"><%= age %></h6>
<h6 class="detail"><%= profession %></h6>

<a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Go Back To Home Page</a>

<%- include("partials/footer"); -%>